---
import {
  getAlphavantageDate,
  type ArticleNewsSentiment,
} from "../../utils/api/alphavantage";

export interface Props {
  article: ArticleNewsSentiment;
}

const { article } = Astro.props;
---

<article class="article-sentiment-news">
  <header>
    {
      article.banner_image ? (
        <img
          class="image-article"
          src={article.banner_image}
          alt={article.title}
        />
      ) : null
    }
    <a class="link-article" href={article.url} target="_blank" rel="noopener">
      <h3>{article.title}</h3>
    </a>
  </header>

  <div class="body">
    <div class="meta-data">
      <i class="date">
        Am {getAlphavantageDate(article.time_published).toLocaleString()}
      </i>
      <div class="sentiment-data">
        <span
          class="sentiment-label"
          class:list={[article.overall_sentiment_label.toLowerCase()]}
          >{article.overall_sentiment_label}</span
        >
        <span>{article.overall_sentiment_score}</span>
      </div>
    </div>

    <p class="summary">{article.summary}</p>

    <hr />

    <div class="box">
      <h3>Themen</h3>
      <div class="inner">
        {
          article.topics.map((topic) => (
            <div class="topic">
              <p class="topic-label">{topic.topic}</p>
              <p class="relevance-score">Relevance: {topic.relevance_score}</p>
            </div>
          ))
        }
      </div>
    </div>

    <div class="box">
      <h3>Ticker Sentiments</h3>
      <div class="inner">
        {
          article.ticker_sentiment.map((ticker) => (
            <div class="ticker">
              <a
                class="sentiment-news-ticker"
                href={`/insights/ticker/${ticker.ticker}`}
                target="_blank"
                rel="noopener"
              >
                <p class="ticker-label">{ticker.ticker}</p>
              </a>
              <p class="relevance-score">Relevance: {ticker.relevance_score}</p>
              <p class="sentiment-score">
                Sentiment: {ticker.ticker_sentiment_score}
              </p>
              <p
                class="sentiment-label"
                class:list={[ticker.ticker_sentiment_label.toLowerCase()]}
              >
                {ticker.ticker_sentiment_label}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</article>

<style>
  article {
    border: 1px solid rgb(53, 53, 53);
    background-color: hsl(0, 0%, 4%);
    border-radius: 4px;
    transition:
      background-color 260ms ease-out,
      box-shadow 260ms ease-out;

    &:hover {
      background-color: hsl(0, 0%, 5%);
      box-shadow: 0 10px 12px -8px hsl(0, 0%, 4%);
    }
  }

  header {
    display: grid;
    grid-template-columns: 1fr;
    isolation: isolate;

    .image-article {
      /* The filter messes with the visibility of the text event though the text is above the image. */
      inline-size: 100%;
      z-index: -1;
      object-fit: cover;
      object-position: center;
      filter: brightness(0.15) blur(4px);
      grid-area: 1 / 1;

      @media only screen and (min-width: 1440px) {
        aspect-ratio: 2.5 / 1;
      }
    }

    .link-article {
      grid-area: 1 / 1;
      padding: 0.5rem;
      font-size: 1.25rem;
    }
  }

  .link-article,
  .sentiment-news-ticker {
    &:hover {
      text-decoration: underline;
    }
  }

  .body {
    padding: 0.98rem 1rem;
  }

  .meta-data {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    margin-block-end: 0.35rem;
    font-size: 0.9rem;
  }

  .sentiment-data {
    justify-content: emd;
    display: flex;
    gap: 1rem;
  }

  .summary {
    text-align: justify;
  }

  .box {
    margin-block-end: 0.5rem;

    .inner {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 0.9rem;

      > div {
        border: 1px hsl(0, 0%, 30%) dotted;
        padding: 0.1rem 0.2rem;
      }
    }

    & + & {
      margin-block-end: 0;
    }
  }

  .sentiment-news-ticker {
    display: inline-block;
  }

  .sentiment-label {
    letter-spacing: 0.5px;

    &.bullish {
      font-weight: 500;
      color: var(--green);
    }

    &.somewhat-bullish {
      color: var(--green-darker);
    }

    &.bearish {
      font-weight: 500;
      color: var(--red);
    }

    &.somewhat-bearish {
      color: var(--red);
    }
  }
</style>
