---
import type { StockFullInfo } from "../../types";
import { formatCurrency } from "../../utils/intl";

export interface Props {
  stock: StockFullInfo;
}

const { stock } = Astro.props;
---

<section class="stock-key-data">
  <h3 class="heading">Eckdaten</h3>
  <dl>
    <dt>IPO</dt>
    <dd>{new Date(stock.ipo_date).toLocaleDateString()}</dd>
    <dt>Gründungsjahr</dt>
    <dd>{stock.company_infos.yearfounded}</dd>
    <dt>EPS</dt>
    <dd>{formatCurrency(stock.company_infos.eps)}</dd>
    <dt>KGV (price/earnings ratio)</dt>
    <dd>{stock.company_infos.peratiosnapshot}</dd>
    <dt>Kurs-Buchwert-Verhältnis</dt>
    <dd>{stock.company_infos.pbratiosnapshot}</dd>
    <dt>Beta</dt>
    <dd>{stock.company_infos.beta}</dd>
    <dt>Land</dt>
    <dd>{stock.company_infos.countrycode}</dd>
    <dt>Marktkapitalisierung</dt>
    <dd>{stock.company_infos.marketcapsnapshot}</dd>
  </dl>
</section>

<style>
  .heading {
    margin-block-end: 0.45rem;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.75rem;
    margin: 0;
  }

  dd {
    margin: 0;
    font-weight: 200;
  }
</style>
