---
import Layout from "../../../layouts/Layout.astro";
import { getValueOfPortfolio } from "../../../utils/calculation";

const { id } = Astro.params;

const { data } = await (
  await fetch(`${import.meta.env.VITE_URL_BASE}/api/portfolio/${id}/detail`)
).json();

const { totalFundsValue, totalStocksValue, totalValue } = getValueOfPortfolio(
  data.stocksStatus,
  data.fundsStatus
);
---

<Layout title={`Portfolio Detail: ${data.name}`}>
  <main>
    <h1>Portfolio "{data.name}"</h1>
    <section>
      <h2>Gesamtwert: {totalValue}</h2>
      <h3>Wert Aktien: {totalStocksValue}</h3>
      <h3>Wert ETFs: {totalFundsValue}</h3>
    </section>
    <a href={`/portfolio/${id}/dividends`}>Zur Dividenden-Übersicht</a>
  </main>
</Layout>
