---
import FundDetails from "../../../../components/FundDetails.astro";
import StockDetails from "../../../../components/StockDetails.astro";
import Layout from "../../../../layouts/Layout.astro";
import type {
  FundFullInfo,
  PortfolioDetailResponse,
  StockFullInfo,
} from "../../../../types";
import { getAmountInPortfolio } from "../../../../utils/calculation";
import { formatCurrency } from "../../../../utils/intl";
import { getLogoUrl } from "../../../../utils/logos";

const { id, isin } = Astro.params;

const portfolioResponse = (await (
  await fetch(`${import.meta.env.VITE_URL_BASE}/api/portfolio/${id}/detail`)
).json()) as PortfolioDetailResponse;

const isInstrumentFromPortfolio =
  portfolioResponse.data.stocks.some((stock) => stock.isin === isin) ||
  portfolioResponse.data.funds.some((stock) => stock.isin === isin);

let detailInstrument: StockFullInfo | FundFullInfo | undefined;

if (!isInstrumentFromPortfolio) {
  const { data } = await (
    await fetch(`${import.meta.env.VITE_URL_BASE}/api/instrument/${isin}`)
  ).json();

  console.log({ data });

  detailInstrument = data;
} else {
  detailInstrument = portfolioResponse.data.stocks.some(
    (stock) => stock.isin === isin
  )
    ? (portfolioResponse.data.stocks.find(
        (stock) => stock.isin === isin
      ) as StockFullInfo)
    : (portfolioResponse.data.funds.find(
        (fund) => fund.isin === isin
      ) as FundFullInfo);
}
---

<Layout title={`Neue Order für Portfolio ${portfolioResponse.data.name}`}>
  <main>
    <h1>
      <a href={`/portfolio/${id}/detail`}
        ><q>{portfolioResponse.data.name}</q></a
      >
    </h1>
    <h2 class="name-instrument">
      <img
        src={getLogoUrl(detailInstrument!)}
        alt={`Logo ${detailInstrument?.name}`}
        width="40"
        height="40"
      />
      <span>{detailInstrument?.name}</span>
    </h2>
    <section class="order">
      <div class="price">
        Preis: {
          formatCurrency(detailInstrument?.price_snapshot!, "EUR", "de-DE")
        }
      </div>
      <form class="actions">
        <button
          class="btn-order btn-sell"
          type="button"
          disabled={!isInstrumentFromPortfolio}>Verkaufen</button
        >
        <input
          class="amount"
          type="number"
          name="order-amount"
          id="order-amount"
          min="0"
          placeholder="0"
          -
        />
        <button class="btn-order btn-buy" type="button">Kaufen</button>
      </form>
      <p class="amount-current">
        Anzahl: {
          isInstrumentFromPortfolio
            ? getAmountInPortfolio(portfolioResponse, detailInstrument!)
            : 0
        }
      </p>
    </section>

    <section class="grid">
      {
        detailInstrument?.type_id === "stock" ? (
          <StockDetails stock={detailInstrument as StockFullInfo} />
        ) : (
          <FundDetails fund={detailInstrument as FundFullInfo} />
        )
      }
      <hr />
      <div class="instruments-list">
        <p>
          Liste mit Links zu allen bekannten Instrumente minus dem Ausgewählten
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .name-instrument {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
    padding-block: 0.25rem;
    background-color: hsl(0, 0%, 7%);
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & span {
      font-size: 1.2rem;
      font-weight: 500;
      max-inline-size: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .order {
    color: hsl(0, 0, 5%);
    background-color: hsl(188, 90%, 11%);
    border-radius: 2px;
    padding: 0.55rem;
    margin-block: 0.35rem;
  }

  .price,
  .amount-current {
    text-align: center;
    padding-block-end: 0.5em;
    font-size: 1.15rem;
  }

  .amount-current {
    padding-block-start: 0.5em;
    padding-block-end: 0;
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  .btn-order {
    display: block;
    padding: 1rem;
    flex-grow: 1;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .btn-sell {
    background-color: var(--red);
    border-start-start-radius: 2px;
    border-end-start-radius: 2px;
  }

  .btn-buy {
    background-color: var(--green);
    border-start-end-radius: 2px;
    border-end-end-radius: 2px;
  }

  .amount {
    border: none;
    background-color: #121212;
    font-size: 1.15rem;
    max-inline-size: 80px;
    text-align: center;
  }
</style>
