---
import Layout from "../../../../layouts/Layout.astro";
import type {
  Fund,
  PortfolioDetailResponse,
  StockFullInfo,
} from "../../../../types";
import { getAmountInPortfolio } from "../../../../utils/calculation";
import { formatCurrency } from "../../../../utils/intl";
import { getLogoUrl } from "../../../../utils/logos";

const { id, isin } = Astro.params;

const portfolioResponse = (await (
  await fetch(`${import.meta.env.VITE_URL_BASE}/api/portfolio/${id}/detail`)
).json()) as PortfolioDetailResponse;

const isInstrumentFromPortfolio =
  portfolioResponse.data.stocks.some((stock) => stock.isin === isin) ||
  portfolioResponse.data.funds.some((stock) => stock.isin === isin);

let detailInstrument: StockFullInfo | Fund | undefined;

if (!isInstrumentFromPortfolio) {
  console.log(`Fetch the instrument: ${isin}`);
} else {
  detailInstrument = portfolioResponse.data.stocks.some(
    (stock) => stock.isin === isin
  )
    ? (portfolioResponse.data.stocks.find(
        (stock) => stock.isin === isin
      ) as StockFullInfo)
    : (portfolioResponse.data.funds.find((fund) => fund.isin === isin) as Fund);
}
---

<Layout title={`Neue Order für Portfolio ${portfolioResponse.data.name}`}>
  <main>
    <h2 class="name-instrument">
      <img
        src={getLogoUrl(detailInstrument!)}
        alt={`Logo ${detailInstrument?.name}`}
        width="40"
        height="40"
      />
      <span>{detailInstrument?.name}</span>
    </h2>
    <section class="order">
      <div class="price">
        Preis: {
          formatCurrency(detailInstrument?.price_snapshot!, "EUR", "de-DE")
        }
      </div>
      <form class="actions">
        <button class="btn-order btn-sell" type="button">Verkaufen</button>
        <input
          class="amount"
          type="number"
          name="order-amount"
          id="order-amount"
          min="0"
          placeholder="0"
          -
        />
        <button class="btn-order btn-buy" type="button">Kaufen</button>
      </form>
    </section>

    <section class="grid">
      <div class="instrument-info">
        {
          detailInstrument?.type_id === "stock" ? (
            <div class="stock">
              <div class="key-data">
                <h3>Eckdaten</h3>
                <p>
                  IPO
                  {new Date(detailInstrument.ipo_date).toLocaleDateString()}
                </p>
                <p>
                  Gründungsjahr {detailInstrument.company_infos.yearfounded}
                </p>
                <p>
                  EPS
                  {detailInstrument.company_infos.eps}
                </p>
                <p>
                  KVG (price/earnings ratio)
                  {detailInstrument.company_infos.peratiosnapshot}
                </p>
                <p>
                  Kurs-Buchwert-Verhältnis (price-to-book ratio)
                  {detailInstrument.company_infos.pbratiosnapshot}
                </p>
                <p>
                  Beta
                  {detailInstrument.company_infos.beta}
                </p>
                <p>
                  Land
                  {detailInstrument.company_infos.countrycode}
                </p>
                <p>
                  Marktkapitalisierung
                  {detailInstrument.company_infos.marketcapsnapshot}
                </p>
              </div>

              <div class="description">
                <h3>Beschreibung</h3>
                <p>{detailInstrument.company_infos.description}</p>
              </div>

              <div class="sectors">
                <h3>Branchen:</h3>
                {detailInstrument.sectors.map((sector) => (
                  <p>
                    <img src={sector.icon} />
                    {sector.name}
                  </p>
                ))}
              </div>

              <div class="employees">
                <h3>Personal</h3>
                <p>CEO: {detailInstrument.company_infos.ceoname}</p>
                <p>CFO: {detailInstrument.company_infos.cfoname}</p>
                <p>COO: {detailInstrument.company_infos.cooname}</p>
                <p>
                  Angestellte: {detailInstrument.company_infos.employeecount}
                </p>
              </div>

              <div class="ratings">
                <h3>Analystenbewertungen</h3>
                <div class="prices">
                  <p>
                    Preis hoch:{" "}
                    {formatCurrency(
                      detailInstrument.analyst_ratings.target_price_high,
                      "EUR",
                      "de-DE"
                    )}
                  </p>
                  <p>
                    Preis mittel:{" "}
                    {formatCurrency(
                      detailInstrument.analyst_ratings.target_price_average,
                      "EUR",
                      "de-DE"
                    )}
                  </p>
                  <p>
                    Preis niedrig:{" "}
                    {formatCurrency(
                      detailInstrument.analyst_ratings.target_price_low,
                      "EUR",
                      "de-DE"
                    )}
                  </p>
                  <p>
                    Kaufen:
                    {detailInstrument.analyst_ratings.recommendations_buy}
                  </p>
                  <p>
                    Outperform:
                    {
                      detailInstrument.analyst_ratings
                        .recommendations_outperform
                    }
                  </p>
                  <p>
                    Halten:
                    {detailInstrument.analyst_ratings.recommendations_hold}
                  </p>
                  <p>
                    Underperform:
                    {
                      detailInstrument.analyst_ratings
                        .recommendations_underperform
                    }
                  </p>
                </div>
              </div>

              <div class="dividends">
                <h3>Dividenden</h3>
                <p>Häufigkeit: {detailInstrument.distribution_frequency}</p>
                <div class="dividends-upcoming">
                  {detailInstrument.dividends_stock.map((dividend) => (
                    <div class="dividend">
                      <p>{formatCurrency(dividend.amount)}</p>
                      <p>EX: {dividend.ex_date_iso}</p>
                      <p>Auszahlung: {dividend.payment_date_iso}</p>
                      <p>Info: {dividend.info}</p>
                    </div>
                  ))}
                </div>
              </div>

              <div class="events">
                <h3>Events</h3>
                {detailInstrument.company_events.map((event) => (
                  <div class="event">
                    <h4>{event.title}</h4>
                    <p>{event.description}</p>
                  </div>
                ))}
              </div>
            </div>
          ) : (
            <div class="fund" />
          )
        }
      </div>
      <hr />
      <div class="instruments-list">
        <p>Liste mit Links zu aller bekannten Instrumente - dem ausgewählten</p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .name-instrument {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & span {
      font-size: 1.2rem;
      max-inline-size: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .order {
    color: hsl(0, 0, 5%);
    background-color: hsl(188, 90%, 11%);
    border-radius: 2px;
    padding: 0.55rem;
    margin-block: 0.35rem;
  }

  .price {
    text-align: center;
    padding-block-end: 0.5em;
    font-size: 1.15rem;
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  .btn-order {
    display: block;
    padding: 1rem;
    flex-grow: 1;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .btn-sell {
    background-color: var(--red);
    border-start-start-radius: 2px;
    border-end-start-radius: 2px;
  }

  .btn-buy {
    background-color: var(--green);
    border-start-end-radius: 2px;
    border-end-end-radius: 2px;
  }

  .amount {
    border: none;
    background-color: #121212;
    font-size: 1.15rem;
    max-inline-size: 80px;
    text-align: center;
  }
</style>
