---
import type { StockFullInfo } from "../types";
import Dividends from "./common/Dividends.astro";
import StockEmployees from "./stock/StockEmployees.astro";
import StockEvents from "./stock/StockEvents.astro";
import StockKeyData from "./stock/StockKeyData.astro";
import StockRatings from "./stock/StockRatings.astro";
import StockSectors from "./stock/StockSectors.astro";

export interface Props {
  stock: StockFullInfo;
}

const { stock } = Astro.props;
---

<section class="stock-details">
  <StockKeyData stock={stock} />

  <StockSectors sectors={stock.sectors} />

  <section class="description">
    <h3 class="heading">Beschreibung</h3>
    <p>{stock.company_infos.description}</p>
  </section>

  <StockEmployees stock={stock} />

  <StockRatings
    analyst_ratings={stock.analyst_ratings}
    price_snapshot={stock.price_snapshot}
  />

  <Dividends
    dividendYield={`${(stock.company_infos.dividendyieldsnapshot * 100).toFixed(2)}%`}
    dividends={stock.dividends_stock}
    distribution_frequency={stock.distribution_frequency}
  />

  <StockEvents stock={stock} />
</section>

<style>
  .stock-details {
    & :global(section + section) {
      margin-block-start: 1.3rem;
    }
  }

  .heading {
    margin-block-end: 0.45rem;
  }

  .description {
    & p {
      max-block-size: 160px;
      overflow-y: auto;
    }
  }
</style>
