---
import type { StockFullInfo } from "../types";
import { formatCurrency } from "../utils/intl";
import StockEmployees from "./stock/StockEmployees.astro";
import StockKeyData from "./stock/StockKeyData.astro";
import StockSectors from "./stock/StockSectors.astro";

export interface Props {
  stock: StockFullInfo;
}

const { stock } = Astro.props;
---

<section class="stock-details">
  <StockKeyData stock={stock} />

  <div class="description">
    <h3 class="heading">Beschreibung</h3>
    <p>{stock.company_infos.description}</p>
  </div>

  <StockSectors sectors={stock.sectors} />

  <StockEmployees stock={stock} />

  <div class="ratings">
    <h3 class="heading">Analystenbewertungen</h3>

    <div class="prices">
      <p>
        Preis hoch:{" "}
        {
          formatCurrency(
            stock.analyst_ratings.target_price_high,
            "EUR",
            "de-DE"
          )
        }
      </p>
      <p>
        Preis mittel:{" "}
        {
          formatCurrency(
            stock.analyst_ratings.target_price_average,
            "EUR",
            "de-DE"
          )
        }
      </p>
      <p>
        Preis niedrig:{" "}
        {formatCurrency(stock.analyst_ratings.target_price_low, "EUR", "de-DE")}
      </p>
      <p>
        Kaufen:
        {stock.analyst_ratings.recommendations_buy}
      </p>
      <p>
        Outperform:
        {stock.analyst_ratings.recommendations_outperform}
      </p>
      <p>
        Halten:
        {stock.analyst_ratings.recommendations_hold}
      </p>
      <p>
        Underperform:
        {stock.analyst_ratings.recommendations_underperform}
      </p>
    </div>
  </div>

  <div class="dividends">
    <h3 class="heading">Dividenden</h3>
    <p>Häufigkeit: {stock.distribution_frequency}</p>
    <div class="dividends-upcoming">
      {
        stock.dividends_stock.map((dividend) => (
          <div class="dividend">
            <p>{formatCurrency(dividend.amount)}</p>
            <p>EX: {dividend.ex_date_iso}</p>
            <p>Auszahlung: {dividend.payment_date_iso}</p>
            <p>Info: {dividend.info}</p>
          </div>
        ))
      }
    </div>
  </div>

  <div class="events">
    <h3 class="heading">Events</h3>
    {
      stock.company_events.map((event) => (
        <div class="event">
          <h4>{event.title}</h4>
          <p>{event.description}</p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .heading {
    margin-block-end: 0.45rem;
  }
</style>
