---
import type { StatusFund, StatusStock } from "../../types";
import { formatCurrency } from "../../utils/intl";

export interface Props {
  portfolioId: string;
  instrument: StatusStock | StatusFund;
  logoUrl: string;
  totalPercentage: number;
}

const { portfolioId, instrument, logoUrl, totalPercentage } = Astro.props;
---

<li class="instrument-item">
  <div>
    <a
      class="investment-name"
      href={`/portfolio/${portfolioId}/order/${instrument.isin}`}
    >
      <img
        transition:name={instrument.isin}
        transition:animate="initial"
        src={logoUrl}
        alt={`Logo ${instrument.name}`}
        width="40"
        height="40"
        height="40"
        loading="lazy"
      />
      {instrument.name}
    </a>
  </div>
  <p class="percent-total">
    Anteil am Portfolio: {totalPercentage.toFixed(2)} %
  </p>
  <div
    class="details"
    class:list={Number(instrument.percentChange) < 0 ? "loss" : "gain"}
  >
    <p>
      {formatCurrency(instrument.currentPrice, "EUR", "de-DE")}&nbsp;
      {instrument.percentChange} %
    </p>
    <p>{formatCurrency(instrument.currentValue, "EUR", "de-DE")}</p>
  </div>
</li>

<style>
  .investment-name {
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .percent-total {
    margin-block-end: 0.45rem;
  }

  .details {
    display: flex;
    gap: 2rem;

    &.gain {
      color: var(--green);
    }
    &.loss {
      color: var(--red);
    }
  }
</style>
