---
import PageNavigation from "../../components/PageNavigation.astro";
import Layout from "../../layouts/Layout.astro";

const { userId } = Astro.params;

const { data } = (await (
  await fetch(`${import.meta.env.VITE_URL_BASE}/api/portfolios/${userId}`)
).json()) as { data: { id: number; name: string }[] };
---

<Layout title="Deine Portfolios">
  <PageNavigation>
    <a href="/refresh">Daten aktualisieren</a>
    <a href="/insights">Marktet Insights</a>
  </PageNavigation>
  <main>
    <h1>Deine Portfolios</h1>
    <ol>
      {
        data.map((p) => (
          <li transition:name={p.name} transition:animate="initial">
            <a class="portfolio-name" href={`/portfolio/${p.id}/detail`}>
              {p.name}
            </a>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>

<style>
  li {
    font-size: 1.45rem;
  }
</style>
